
<div class="row">
  <div class="col-8 title">
    <mb-table-title [showBack]="true"
                    title="{{(action === ROUTER_ACTIONS.update ? 'model.menu.update' : action === ROUTER_ACTIONS.detail ? 'model.menu.detail' : 'model.menu.create' ) | translate }}">
    </mb-table-title>
  </div>
</div>
<nz-tabset
  [(nzSelectedIndex)]="selectedIndex"
  nzType="editable-card"
  (nzAdd)="newTab()"
  (nzClose)="closeTab($event)"
>
  <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">
    <div *ngIf="action === ROUTER_ACTIONS.detail" class="col-6 mb-2" class="row mt-3">
      <div class="col-12">
        <section class="content mt-3">
          <div>
            <label>{{ 'model.menu.publish' | translate }}</label>
            <div class="ms-1">
              <!-- <nz-switch [(ngModel)]="status" (click)="onPublishChange()" [nzControl]="true" [nzLoading]="statusIsLoading">
              </nz-switch> -->
              <nz-switch [(ngModel)]="status"  [nzControl]="true"
                         [nzLoading]="statusIsLoading">
              </nz-switch>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <form [formGroup]="form" >
          <section class="content mt-3">
            <div class="col-7 mb-2">
              <label>{{ 'model.order.customer' | translate }} <span class="text-danger">*</span></label>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="{{ 'model.order.customerSelect' | translate }}"
                formControlName="guestId">
                //(ngModelChange)="showCustomerDetail($event)"

                <nz-option
                  *ngFor="let customer of customers"
                  [nzValue]="customer"
                  [nzLabel]="customer">
<!--                  [nzValue]="customer.id"-->
<!--                  [nzLabel]="customer.phoneNumber + ' - ' + customer.name"-->

                </nz-option>
              </nz-select>
<!--              <ng-container-->
<!--                *ngIf="-->
<!--                  form.get('customerId')?.touched || form.get('customerId')?.dirty-->
<!--                "-->
<!--              >-->
<!--                <span-->
<!--                  class="text-danger"-->
<!--                  *ngIf="form.get('customerId')?.hasError('customerId')"-->
<!--                >-->
<!--                  <mb-not-blank-->
<!--                    [value]="getTranslate('customerId')"-->
<!--                  ></mb-not-blank>-->
<!--                </span>-->
<!--              </ng-container>-->
            </div>
            <div class="col-3 mb-2">
              <button
                nz-button
                nzType="text"
                class="mt-4"
                nzPrimary
                (click)="create()"
              >
                Tạo mới KH
              </button>
            </div>
            <div class="row mt-2">
              <div class="col-4 mb-2">
                <label>{{ 'model.menu.price' | translate }} <span class="text-danger">*</span></label>
                <input nz-input class="form-control"
                       [maxLength]="LENGTH_VALIDATOR.LABEL_MAX_LENGTH.MAX" placeholder="{{ 'model.menu.price' | translate }}" />
              </div>
              <div class="col-4 mb-2">
                <label>{{ 'model.menu.closedAt' | translate }} <span class="text-danger"
                                                                     *ngIf="!(action === ROUTER_ACTIONS.detail)">*</span></label>
                <nz-date-picker  nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
                                  nzPlaceHolder="Start">
                </nz-date-picker>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 mb-2">
                <label>{{ 'model.menu.note' | translate }} <span class="text-danger">*</span></label>
                <textarea nz-input class="form-control"
                          [maxLength]="LENGTH_VALIDATOR.LABEL_MAX_LENGTH.MAX"
                          placeholder="{{ 'model.menu.note' | translate }}"></textarea>
              </div>
            </div>
            <div *ngIf="!(action === ROUTER_ACTIONS.detail)" class="row mt-2">
              <div class="col-12 mb-2">
                <label>{{ 'model.menu.chooseProducts' | translate }} <span class="text-danger"
                        *ngIf="!(action === ROUTER_ACTIONS.detail)">*</span></label>
                <nz-transfer [nzRenderList]="[leftRenderList, null]" [nzListStyle]="{ 'height.px': 500 }"
                             [nzDataSource]="list" [nzDisabled]="(action === ROUTER_ACTIONS.detail)" nzShowSearch
                             [nzNotFoundContent]="'model.menu.emptyProducts' | translate "
                             [nzTitles]="['model.menu.availableproduct' | translate, 'model.menu.selectedProducts' | translate]"
                             (nzSearchChange)="search($event)"
                             (nzSelectChange)="select($event)"
                             (nzChange)="change($event)">
                </nz-transfer>
              </div>
            </div>
<!--            <div *ngIf="action !== ROUTER_ACTIONS.detail" class="row mt-2">-->
<!--              <div class="col-12 mb-2">-->
<!--                <label>{{'model.order.orderItems' | translate }}<span class="text-danger">*</span></label>-->
<!--                <nz-transfer [nzDataSource]="list" nzShowSearch [nzRenderList]="[leftRenderList, null]"-->
<!--                             [nzNotFoundContent]="'model.menu.emptyProducts' | translate "-->
<!--                             [nzTitles]="['model.menu.availableproduct' | translate, 'model.menu.selectedProducts' | translate]"-->
<!--                             ></nz-transfer>-->
<!--              </div>-->
<!--            </div>-->
            <div *ngIf="action !== ROUTER_ACTIONS.detail" class="row mt-2">
              <label>{{ 'model.menu.selectedProducts' | translate }}</label>
              <nz-table #table [nzData]="list">
                <thead>
                <tr>
                  <th nzAlign="center" nzColumnKey="index">{{'common.index' | translate}}</th>
                  <th nzAlign="center" nzColumnKey="price" [nzSortFn]="true">{{'model.product.price' | translate}}</th>
                  <th nzAlign="center" nzColumnKey="name" [nzSortFn]="true">{{'model.product.name' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of order.purchaseOrderItems; let i = index">
                  <tr>
                    <td nzAlign="center">{{ (i + 1) }}</td>
                    <td >{{ item.productPrice ?
                      (item.productPrice |
                        vnd) : '-' }}</td>
                    <td nzAlign="center">{{ item.productName }}</td>
                  </tr>
                </ng-container>
                </tbody>
              </nz-table>
              <!-- <mb-pagination [pageIndex]="productSearchRequest.pageIndex" [pageSize]="productSearchRequest.pageSize"
                [total]="products.length" (onChange)="onQuerySearchProducts($event)">
              </mb-pagination> -->
            </div>
          </section>
        </form>
      </div>
    </div>
    <section class="content mt-n3">
      <div class="row mt-4">
        <div class="col-12 text-center">
          <button nz-button nzType="default" (click)="onCancel()">
            {{ (action === ROUTER_ACTIONS.detail ? 'action.back' : 'action.cancel') | translate }}
          </button>
          <button *ngIf="action === ROUTER_ACTIONS.detail" (click)="navigateToUpdatePage()" class="ms-3" nz-button
                  nzType="primary">
            {{ 'action.update' | translate }}
          </button>
          <button *ngIf="action !== ROUTER_ACTIONS.detail"
                  (click)="action === ROUTER_ACTIONS.update ? onUpdateSubmit() : onSubmit()" class="ms-3" nz-button
                  nzType="primary">
            {{ ( action === ROUTER_ACTIONS.update ? 'action.update' : 'action.create') | translate }}
          </button>
        </div>
      </div>
    </section>

  </nz-tab>
</nz-tabset>

