<div class="content">
  <mb-table-title [title]="getTranslate('list')"></mb-table-title>
  <nz-table class="content mt-3">
    <div [formGroup]="form" class="filter-element">
      <div class="row p-4">
        <div class="col-3 mb-1">
          <label>{{ "model.material.keyword" | translate }}</label>
          <input
            type="text"
            formControlName="keyword"
            nz-input
            [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
            (keyup.enter)="onSearch()"
            [placeholder]="'model.material.keyword' | translate"
          />
        </div>
        <div class="col-3 mb-1">
          <label>{{ "model.material.type" | translate }}</label>
          <nz-select
            formControlName="type"
            nzPlaceHolder="{{ 'model.material.type' | translate }}"
            nzAllowClear="true"
          >
            <ng-container *ngFor="let type of MATERIAL_TYPE ">
              <nz-option
                [nzValue]="type.value"
                [nzLabel]="type.lable"
              ></nz-option>
            </ng-container>
          </nz-select>
        </div>

        <div class="col-6">
          <label
            >{{ "model.product.price" | translate }}:
            <nz-input-number
              formControlName="startPrice"
              [nzMin]="minPrice"
              [nzMax]="this.materialSearchRequest.endPrice"
              [ngStyle]="{ margin: '0 16px', width: '35%' }"
              [nzFormatter]="formatterPrice"
              [nzParser]="parserPrice"
            >
            </nz-input-number>
            -->
            <nz-input-number
              formControlName="endPrice"
              [nzMin]="this.materialSearchRequest.startPrice"
              [nzMax]="maxPrice"
              [ngStyle]="{ marginLeft: '16px', width: '35%' }"
              [nzFormatter]="formatterPrice"
              [nzParser]="parserPrice"
            >
            </nz-input-number>
          </label>
          <nz-slider
            nzRange
            [nzMarks]="marks"
            formControlName="rangePrice"
            [nzMin]="minPrice"
            [nzMax]="maxPrice"
            (ngModelChange)="onChangeRangePrice()"
            [nzStep]="100"
            [nzTipFormatter]="formatterPrice"
          >
          </nz-slider>
        </div>
      </div>
      <div class="row ps-4">
        <div class="col-3">
          <label>{{ "model.product.status" | translate }}</label>
          <nz-select
            formControlName="status"
            nzAllowClear
            appRemoveOptionTitle
            nzPlaceHolder="{{ 'model.product.selectStatus' | translate }}"
          >
            <nz-option
              *ngFor="let service of MATERIAL_STATUS"
              [nzLabel]="service.lable"
              [nzValue]="service.value"
              [nzCustomContent]="true"
            >
              <div
                container="body"
                [animation]="false"
                [openDelay]="100"
                [closeDelay]="0"
                [ngbTooltip]="service?.lable"
              >
                {{ service?.lable }}
              </div>
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
      <div class="row mt-3 mb-3 text-center">
        <div class="col-12">
          <button
            class="me-3"
            nz-button
            nzType="default"
            (click)="resetSearch()"
          >
            {{ "action.reset" | translate }}
          </button>
          <button nz-button nzType="primary" (click)="onSearch()">
            {{ "common.search" | translate }}
          </button>
        </div>
      </div>
  </nz-table>
  <div class="row mt-3">
    <div class="col-12 text-end">
      <mb-button
        class="float-end"
        [type]="'primary'"
        [icon]="'plus'"
        [text]="'action.create'"
        (click)="create()"
      >
      </mb-button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <nz-table
        #table
        [nzData]="materials"
        [nzNoResult]="noDataResult"
        [nzTableLayout]="'auto'"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <th nzAlign="center">{{ "common.index" | translate }}</th>
            <th nzAlign="center" nzColumnKey="materialName" [nzSortFn]="true">
              {{ getTranslate("name") }}
            </th>
            <th nzAlign="center" nzColumnKey="purchasePrice" [nzSortFn]="true">
              {{ getTranslate("purchasePrice") }}
            </th>
            <th nzAlign="center" nzColumnKey="salePrice" [nzSortFn]="true">
              {{ getTranslate("salePrice") }}
            </th>
            <th nzAlign="center" nzColumnKey="type" [nzSortFn]="true">
              {{ getTranslate("type") }}
            </th>
            <th nzAlign="center" nzColumnKey="color" [nzSortFn]="true">
              {{ getTranslate("color") }}
            </th>
           
            <th nzAlign="center" nzColumnKey="age" [nzSortFn]="true">
              {{ getTranslate("age") }}
            </th>
            <th nzAlign="center" nzColumnKey="type" [nzSortFn]="true">
              {{ getTranslate("status") }}
            </th>
            <th nzAlign="center" >
              {{ "action.msg" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of materials; let i = index">
            <tr>
              <td nzAlign="center">{{ getIndex(i) }}</td>
              <td nzAlign="center">{{ item.materialName }}</td>
              <td nzAlign="center">
                {{ item.purchasePrice | vnd }}/Chỉ
              </td>
              <td nzAlign="center">{{ item.salePrice| vnd  }}/Chỉ</td>
              <td nzAlign="center">
                {{ item.type}}
              </td>
              <td nzAlign="center">
                {{ item.color}}
              </td>
              <td nzAlign="center">
                {{ item.age}}
              </td>
              <td nzAlign="center">
                <mb-badge
                [color]="
                  item.status === 'ACTIVE'
                    ? 'badge-info'
                    : 'badge-secondary'
                "
                [text]="format(item.status, 'status')"
              ></mb-badge>
              </td>
              <td nzAlign="center" class="action" >
                <mb-button-action
                  [action]="'view'"
                  nzTooltipTitle="{{ 'action.detail' | translate }}"
                  nzTooltipPlacement="top"
                  nz-tooltip
                  (click)="detail(item)"
                >
                </mb-button-action>
                <mb-button-action
                  [action]="'edit'"
                  className="first"
                  nzTooltipTitle="{{ 'action.update' | translate }}"
                  nzTooltipPlacement="top"
                  nz-tooltip
                  (click)="update(item)"
                >
                </mb-button-action>
                <mb-button-action
                [action]="item.status === 'ACTIVE' ? 'lock' : 'unlock'"
                nzTooltipTitle="{{
                  (item.status === 'ACTIVE' ? 'action.lock' : 'action.unlock')
                    | translate
                }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="lock(item)"
              >
              </mb-button-action>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
      <mb-pagination
        [pageIndex]="materialSearchRequest.pageIndex"
        [pageSize]="materialSearchRequest.pageSize"
        [total]="total"
        (onChange)="onQuerySearch($event)"
      >
      </mb-pagination>
    </div>
  </div>
</div>

<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>

<mb-modal
  [title]="lockPopup.title"
  [content]="lockPopup.content"
  [interpolateParams]="lockPopup.interpolateParams"
  [okText]="lockPopup.okText"
  [btnCentered]="true"
  [callBack]="this.lockPopup.callBack"
  [isVisible]="isVisible"
  (emitter)="onLockAndUnLock($event)"
>
</mb-modal>
