<mb-table-title [title]="'model.product.list'"></mb-table-title>
<div class="row col-12">
  <!-- search -->
  <nz-table>
    <div [formGroup]="form">
      <div class="row ms-3 mt-3">
        <div class="col-3 mb-1">
          <label>{{ "model.product.keyword.title" | translate }}</label>
          <input
            type="text"
            formControlName="keyword"
            nz-input
            [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
            (keyup.enter)="search()"
            placeholder="{{ 'model.product.keyword.input' | translate }}"
            [placeholder]="'model.product.keyword.input' | translate"
          />
        </div>
        <div class="col-3">
          <label>{{ "model.product.status" | translate }}</label>
          <nz-select
            formControlName="status"
            nzAllowClear
            appRemoveOptionTitle
            nzPlaceHolder="{{ 'model.product.selectStatus' | translate }}"
          >
            <nz-option
              *ngFor="let service of productStatus"
              [nzLabel]="service.label | translate"
              [nzValue]="service.value"
              [nzCustomContent]="true"
            >
              <div
                container="body"
                [animation]="false"
                [openDelay]="100"
                [closeDelay]="0"
                [ngbTooltip]="service?.label! | translate"
              >
                {{ service?.label! | translate }}
              </div>
            </nz-option>
          </nz-select>
        </div>

        <div class="col-6">
          <label
            >{{ "model.product.price" | translate }}:
            <nz-input-number
              formControlName="startPrice"
              [nzMin]="minPrice"
              [nzMax]="this.productSearchRequest.endPrice"
              [ngStyle]="{ margin: '0 16px', width: '35%' }"
              [nzFormatter]="formatterPrice"
              [nzParser]="parserPrice"
            >
            </nz-input-number>
            -->
            <nz-input-number
              formControlName="endPrice"
              [nzMin]="this.productSearchRequest.startPrice"
              [nzMax]="maxPrice"
              [ngStyle]="{ marginLeft: '16px', width: '35%' }"
              [nzFormatter]="formatterPrice"
              [nzParser]="parserPrice"
              
            >
            </nz-input-number>
          </label>
          <nz-slider
            nzRange
            [nzMarks]="marks"
            formControlName="rangePrice"
            [nzMin]="minPrice"
            [nzMax]="maxPrice"
            (ngModelChange)="onChangeRangePrice()"
            [nzStep]="100"
            [nzTipFormatter]="formatterPrice"
          >
          </nz-slider>
        </div>
      </div>
      <div class="row ps-4 mb-4 mt-3">
      
        <div class="col-3 mb-1">
          <label>{{ "model.product.accessoryId" | translate }}</label>
          <nz-select
            formControlName="accessoryId"
            nzPlaceHolder="{{ 'model.product.accessoryId' | translate }}"
            nzAllowClear="true"
            (nzFocus)="loadAccessory($event)"
          >
            <ng-container *ngFor="let type of accessories">
              <nz-option
                [nzValue]="type.accessoryId"
                [nzLabel]="type.name | translate"
              ></nz-option>
            </ng-container>
          </nz-select>
        </div>
        <div class="col-3 mb-1">
          <label>{{ "model.product.material" | translate }}</label>
          <nz-select
            formControlName="materialId"
            nzPlaceHolder="{{ 'model.product.material' | translate }}"
            nzAllowClear="true"
            (nzFocus)="loadMaterial()"
            
          >
            <ng-container *ngFor="let type of materials">
              <nz-option
                [nzValue]="type.materialId"
                [nzLabel]="type.materialName| translate"
              ></nz-option>
            </ng-container>
          </nz-select>
        </div>
        <div class="col-3 mb-1">
          <label>{{ "model.product.type" | translate }}</label>
          <nz-select
            formControlName="categoryId"
            nzPlaceHolder="{{ 'model.product.type' | translate }}"
            nzAllowClear="true"
            (nzFocus)="loadCategory()"
          >
            <ng-container *ngFor="let type of categories">
              <nz-option
                [nzValue]="type.categoryId"
                [nzLabel]="type.name | translate"
              ></nz-option>
            </ng-container>
          </nz-select>
        </div>
      </div>
    </div>

    <div class="row pb-3 text-center">
      <div class="col-12">
        <button class="me-3" nz-button nzType="default" (click)="resetSearch()">
          {{ "action.reset" | translate }}
        </button>
        <button nz-button nzType="primary" (click)="search()">
          {{ "common.search" | translate }}
        </button>
      </div>
    </div>
  </nz-table>
  <!-- end-search -->
  <div class="col-12 text-end mt-3">
    <mb-button
      nz-button
      nz-dropdown
      [type]="'primary'"
      [icon]="'plus'"
      [text]="'action.create'"
      (click)="create()"
    >
    </mb-button>
  </div>
  <div class="col-12 mt-2">
    <nz-table
      #table
      [nzData]="products"
      (nzQueryParams)="onChangeQueryParam($event)"
      [nzNoResult]="noDataResult"
    >
      <thead>
        <tr>
          <th nzAlign="center" nzColumnKey="index">
            {{ "common.index" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="code" [nzSortFn]="true">
            {{ "model.product.code" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="nameProduct" [nzSortFn]="true">
            {{ "model.product.name" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="gender" [nzSortFn]="true">
            {{ "model.product.gender" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="salary" [nzSortFn]="true">
            {{ "model.product.salary" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="material">
            {{ "model.product.material" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="material">
            {{ "model.product.vendorId" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="material">
            {{ "model.product.accessoryId" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="categories">
            {{ "model.product.category" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="status">
            {{ "model.product.status" | translate }}
          </th>
       
          <!--        <th nzAlign="center" nzColumnKey="type" [nzSortFn]="true">{{'model.product.type' | translate}}</th>-->
          <th nzAlign="center" nzColumnKey="action">
            {{ "action.msg" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of products; let i = index">
          <tr>
            <td nzAlign="center">{{ getIndex(i) }}</td>
            <td nzAlign="center">{{ item.code }}</td>
            <td nzAlign="center">{{ item.nameProduct | limitWord: 25 }}</td>
            <td nzAlign="center">
              {{ getGender(item.gender) }}
            </td>
            <td nzAlign="center">
              {{ item.salary }}
            </td>
            <td nzAlign="center" class="col-1">
              {{item.material.materialName }}
             </td>
             <td nzAlign="center" class="col-1">
              {{item.vendor.name}}
             </td>
             <td nzAlign="center" class="col-1">
              {{item.accessory.name}}
             </td>
            <td nzAlign="center" class="col-1">
             {{item.category.name}}
            </td>

            <td nzAlign="center">
              <mb-badge
                [color]="
                  item.status === 'ACTIVE'
                    ? 'badge-info'
                    : 'badge-secondary'
                "
                [text]="item.status === 'ACTIVE'
                ? 'Hoạt động'
                : 'Không hoạt động'
            "
              >
              </mb-badge>
            </td>

            <!--          <td nzAlign="center">{{ pipeType(item.type) | translate }}</td>-->
            <td nzAlign="center" class="action">
              <mb-button-action
                [action]="'view'"
                className="first"
                nzTooltipTitle="{{ 'action.detail' | translate }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="detail(item)"
              >
              </mb-button-action>
              <mb-button-action
                [action]="'edit'"
                className="first"
                nzTooltipTitle="{{ 'action.update' | translate }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="update(item)"
              >
              </mb-button-action>
              <mb-button-action
              [action]="item.status === 'ACTIVE' ? 'lock' : 'unlock'"
              nzTooltipTitle="{{
                (item.status === 'ACTIVE' ? 'action.lock' : 'action.unlock')
                  | translate
              }}"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="lock(item)"
            >
            </mb-button-action>
              <mb-button-action
              *ngIf="item.status === 'INACTIVE'"
                [action]="'delete'"
                [className]="'last'"
                nzTooltipTitle="{{ 'action.update' | translate }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="delete(item)"
              >
              </mb-button-action>
           
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
    <mb-pagination
      [pageIndex]="productSearchRequest.pageIndex"
      [pageSize]="productSearchRequest.pageSize"
      [total]="total"
      (onChange)="onQuerySearch($event)"
    >
    </mb-pagination>
  </div>
</div>

<mb-modal
  [title]="lockPopup.title"
  [content]="lockPopup.content"
  [okText]="lockPopup.okText"
  [interpolateParams]="lockPopup.interpolateParams"
  [isVisible]="isVisible"
  [callBack]="this.lockPopup.callBack"
  (emitter)="onLockAndUnlock($event)"
>
</mb-modal>

<!--<mb-modal [title]="groupPopup.title" [content]="groupPopup.content" [okText]="groupPopup.okText" [btnCentered]="true"-->
<!--  [interpolateParams]="groupPopup.interpolateParams" [isVisible]="isDeletePopupVisible"-->
<!--  (emitter)="onDeleteProduct($event)">-->
<!--</mb-modal> -->
<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>