<div class="row">
  <div class="col-8 title">
    <mb-table-title
      [showBack]="true"
      title="{{
           'model.order.createExchange'
      }}"
    >
    </mb-table-title>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <form [formGroup]="form">
      <section class="content mt-3">
        <div class="row">
          <div class="col-7 mb-2">
            <label
              >{{ "model.order.customer" | translate }}: <strong>{{this.currentUser.fullName}}</strong>
              </label>

          </div>
        </div>
        <div class="row mt-2" *ngIf="this.form.value.userId">
          <div class="col-4 mb-2">
            <label>{{ "model.user.fullName" | translate }}: <strong> {{this.currentUser.fullName}}</strong> </label>
          </div>
          <div class="col-4 mb-2">
            <label>{{ "model.user.phoneNumber" | translate }}:  <strong>{{this.order.phoneNumber}}</strong> </label>
          </div>
          <div class="col-4 mb-2">
            <label>{{ "model.user.email" | translate }}: <strong>{{this.currentUser.email}}</strong>  </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4 mb-2">
            <label
              >{{ "model.order.payMethod" | translate }}:  <strong>{{this.getPayMethod()}}</strong>
             </label
            >
          </div>
          <div class="col-4 mb-2">
            <label>{{ "model.order.date" | translate }}: <strong>{{this.order.createAt | date : 'dd/MM/yyyy'}}</strong></label>
            
          </div>
          <div class="col-4 mb-3">
            <label>{{ "model.order.staff" | translate }}: <strong>{{this.order.createBy}}</strong></label>
    
          </div>
          <div class="col-4 ">
            <label>{{ "model.product.event" | translate }}: <strong>{{ getEvent()}}</strong> </label>
          
          </div>
          <div class="col-4 ">
            <label>{{ "model.order.address" | translate }}: <strong>{{this.order.address}}</strong> </label>
          </div>
          <div class="col-4 ">
            <label>{{ "model.order.status.root" | translate }}: <strong>{{getStatus()}}</strong> </label>       
          </div>
        </div>
      </section>
      
    </form>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-9">
        <div class="example-input">
         <label for="">{{'model.exchange.productOrder' | translate}}</label>
        <nz-table 
        #table [nzData]="selectedProducts" [nzNoResult]="selectedProducts"  [nzScroll]="{ y: '440px' }"
            >
              <thead>
                <tr>
                  <th nzAlign="center" >{{'model.order.selectProduct' | translate}}</th>
                  <th nzAlign="center" >{{ "model.product.image" | translate }}</th>
                  <th nzAlign="center">{{ "model.product.name" | translate }}</th>
                  <th nzAlign="center">{{ "model.product.sizeId" | translate }}</th>
                  <th nzAlign="center">{{ "model.product.price" | translate }}</th>
                  <th nzAlign="center">{{ "model.order.quantityBy" | translate }}</th>
                  <th nzAlign="center">{{ "model.order.thanhtien" | translate }}</th>
                </tr>
              </thead>
             
              <tbody>
                <tr *ngFor="let product of this.productExchange; let i = index">
                 <td nzAlign="center" ><label nz-checkbox [(ngModel)]="product.selected"></label></td>
                  <td nzAlign="center">
                    <img
                      nz-image
                      height="70px"
                      width="90px"
                      id="productDetailLink"
                      (click)="showProductDetail(product)"
                      [nzSrc]="getImage(product.productOrder.imageUrl[0])"
                      style="border: 2px; border-radius: 5px"
                    />
                  </td>
                  <td nzAlign="center">{{ product.productOrder.nameProduct }}</td>
                  <td nzAlign="center">
                    <nz-tag nzColor="default">{{
                      product.productOrder.size
                    }}</nz-tag>
                  </td>
                  <td  nzAlign="center">{{ product.productOrder.price | vnd }}</td>
                  <td nzAlign="center">
                    <nz-input-number *ngIf="product.selected" nzBorderless [(ngModel)]="product.quantityExchange" [nzMin]="1" [nzMax]="product.productOrder.quantity" [nzStep]="1" style="width: 40px;"></nz-input-number> <span *ngIf="product.selected">/</span>{{ product.productOrder.quantity }} 
                  </td>
                  <td  nzAlign="center">{{ (product.productOrder.price * product.productOrder.quantity) | vnd }}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
      </div> 
      <div class="col-3 mt-2">
        <label for="">{{'model.order.reason' | translate}} <span class="text-danger">*</span></label>
        <textarea nz-input [(ngModel)]="this.reason"  placeholder="{{'model.order.reason' | translate}}" cols="30" rows="5"></textarea>
        <label for="" class="mt-2">{{'model.order.note' | translate}} </label>
        <textarea nz-input [(ngModel)]="this.note"  placeholder="{{'model.order.note' | translate}}" cols="30" rows="5"></textarea>
        </div>
    </div>
   
    
  </section>
  <section class="content">
     
    <div class="row">
      <div class="col-12 text-center">
        <button nz-button nzType="default" (click)="onCancel()">
          {{
            (action === ROUTER_ACTIONS.detail
              ? "action.back"
              : "action.cancel"
            ) | translate
          }}
        </button>
        <button
       
          (click)="onSubmit()"
          class="ms-3"
          nz-button
          nzType="primary"
        >
          {{
          
               "action.create" | translate
          }}
        </button>
      </div>
    </div>
  </section>
 
</div>