<mb-table-title [title]="'model.statistical.list'"></mb-table-title>
<div class="row text-center">
  <section class=" content col-3 text-center">
    <h5>Số lượng sản phẩm</h5>
    <br />
    <h3>{{this.product}}</h3>
  </section>
  <section class=" content col-3 text-center">
    <h5>Số lượng khách hàng</h5>
    <br />
    <h3>{{this.customer}}</h3>
  </section>
  <section class="content col-3 text-center">
    <h5>Hóa đơn bán hàng</h5>
    <br />
    <h3>{{this.order}}</h3>
  </section>
  <section class="content col-3 text-center"><h5>Hóa đơn đổi trả</h5>
    <br />
    <h3>{{this.exchange}}</h3>
  </section>
</div>
<div class="row text-center mt-4">
  <section class="col-12 mt-5 content text-center">
   <div class="row">
    <div class="col-5"></div>
    <div class=" col-2 mb-4">
      <nz-select
        appRemoveOptionTitle
        nzPlaceHolder="Chọn năm"
        [ngModel]="d"
        (ngModelChange)="loadChartLine($event)"
        
      >
        <nz-option
          *ngFor="let c of this.curent"
          [nzLabel]="c"
          [nzValue]="c"
          [nzCustomContent]="true"
        >
          <div
            container="body"
            [animation]="false"
            [openDelay]="100"
            [closeDelay]="0"
            [ngbTooltip]="service?.label! | translate"
          >
            {{ "Năm " + c }}
          </div>
        </nz-option>
      </nz-select>
    </div>
   </div>
    <div>
      <div echarts [options]="option"></div>
      <div
        style="
          font-size: 25px;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        Doanh số bán hàng trong năm
      </div>
    </div>
  </section>

  <section class="col-12 mt-3 content text-center">
    <div class="row">
     <div class="col-5"></div>
     <div class=" col-2 mb-4">
       <nz-select
         appRemoveOptionTitle
         nzPlaceHolder="Chọn năm"
         [ngModel]="d"
         (ngModelChange)="loadChartLine2($event)"
         
       >
         <nz-option
           *ngFor="let c of this.curent"
           [nzLabel]="c"
           [nzValue]="c"
           [nzCustomContent]="true"
         >
           <div
             container="body"
             [animation]="false"
             [openDelay]="100"
             [closeDelay]="0"
             [ngbTooltip]="service?.label! | translate"
           >
             {{ "Năm " + c }}
           </div>
         </nz-option>
       </nz-select>
     </div>
    </div>
     <div>
       <div echarts [options]="option0"></div>
       <div
         style="
           font-size: 25px;
           font-weight: bold;
           font-family: Arial, Helvetica, sans-serif;
         "
       >
         Thống kê chi phí sản phẩm mua lại trong năm
       </div>
     </div>
   </section>
 
</div>
