<div class="content">
  <mb-table-title [title]="'model.apoiment.list' | translate"></mb-table-title>
  <!-- search -->
  <nz-table class="content mt-3">
    <div [formGroup]="form">
      <div class="row p-4">
        <div class="col-3 mb-2">
          <label>{{'model.apoiment.keyword' | translate}}</label>
           <input
            formControlName="keyword"
            (keyup.enter)="search()"
            nz-input
            class="form-control"
            placeholder="{{ 'model.apoiment.keywordContent'|translate}}"
          />
        </div>
        <div class="col-3 mb-2">
          <label>{{'model.apoiment.product' | translate}}</label>
          <nz-select
            formControlName="productId"
            nzAllowClear
            appRemoveOptionTitle
            nzPlaceHolder="{{ 'model.apoiment.product' | translate }}"
            
          >
            <nz-option
              *ngFor="let service of this.products"
              [nzLabel]="service.nameProduct"
              [nzValue]="service.productId"
              [nzCustomContent]="true"
            >
              <div
                container="body"
                [animation]="false"
                [openDelay]="100"
                [closeDelay]="0"
                [ngbTooltip]="service?.nameProduct! | translate"
              >
                {{ service?.nameProduct! | translate }}
              </div>
            </nz-option>
          </nz-select>
        </div>
        <div class="col-6 mb-2">
          <label>{{'model.apoiment.apoiment' | translate}}</label>
          <app-date-range-picker [fromDate]="this.form?.get('startDate')?.value"
                                 [toDate]="this.form?.get('endDate')?.value" (rangeDateChange)="onChangeCreateDate($event)">
          </app-date-range-picker>
        </div>
      
      </div>
    </div>
    <div class="row pb-3 text-center">
      <div class="col-12">
        <button class="me-3" nz-button nzType="default" (click)="resetSearch()">
          {{ "action.reset" | translate }}
        </button>
        <button nz-button nzType="primary" (click)="search()">
          {{ "common.search" | translate }}
        </button>
      </div>
    </div>
  </nz-table>
  <!-- end-search -->
  <div class="col-12 text-end mt-3">
    <!-- <mb-button class="me-3" nz-button nz-dropdown [text]="'model.order.export'" (click)="openPurchasePopup()">
    </mb-button> -->
    <mb-button nz-button nz-dropdown [icon]="'plus'" [text]="'action.create'" (click)="create()"></mb-button>
  </div>

  <div class="col-12 mt-2">
    <nz-table #table [nzData]="calendars" [nzNoResult]="noDataResult"    (nzQueryParams)="onChangeQueryParam($event)">
      <thead>
      <tr>
        <th nzAlign="center">{{'common.index' | translate}}</th>
        <th nzAlign="center" nzColumnKey="code" [nzSortFn]="true">{{'model.apoiment.username' | translate}}</th>
        <th nzAlign="center">{{'model.apoiment.phoneNumber' | translate}}</th>
        <th nzAlign="center" mzColumnKey="createAt"  [nzSortFn]="true">{{'model.apoiment.email' | translate}}</th>
        <th nzAlign="center" nzColumnKey="time" [nzSortFn]="true">{{'model.apoiment.apoiment' | translate}}</th>
        <th nzAlign="center" nzColumnKey="purchaseType" [nzSortFn]="true">{{'model.apoiment.product' | translate}}</th>
        <th nzAlign="center" nzColumnKey="paymentMethod" [nzSortFn]="true">{{'model.apoiment.size' | translate}}</th>
        <th nzAlign="center" nzColumnKey="status" [nzSortFn]="true">{{'model.apoiment.status' | translate}}</th>
        <th nzAlign="center">{{'action.msg' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of calendars; let i = index">
        <tr>
          <td nzAlign="center">{{ getIndex(i) }}</td>
          <td nzAlign="center">{{item.userName}}</td>
          <td nzAlign="center">{{item.phoneNumber}}</td>
          <td nzAlign="center">{{item.email}}</td>
          <td nzAlign="center">{{item.time | date:'HH:ss dd/MM/yyyy'}}</td>
          <td nzAlign="center">{{item.product.nameProduct}}</td>
          <td nzAlign="center">{{item.size.size}}</td>
          <td nzAlign="center">
            <mb-badge [color]="getColor(item?.status)" [text]="getStatus(item?.status)"></mb-badge>
          </td>
        
          <td nzAlign="center">
          
            <mb-button-action
             [action]="'edit'" className="center" nzTooltipTitle="{{'action.update' | translate}}"
                              nzTooltipPlacement="top" (click)="update(item)">
            </mb-button-action>
            <mb-button-action *ngIf="item.status === 'WAIT_CONFIRM'" [action]="'check'" className="first" nzTooltipTitle="{{'action.view' | translate}}"
            nzTooltipPlacement="top" (click)="active(item)">
</mb-button-action>
<mb-button-action *ngIf="item.status === 'ACTIVE'" [action]="'check-box'" className="first" nzTooltipTitle="{{'action.view' | translate}}"
nzTooltipPlacement="top" (click)="success(item)">
</mb-button-action>
<mb-button-action *ngIf="item.status === 'ACTIVE'" [action]="'cancel'" className="first" nzTooltipTitle="{{'action.view' | translate}}"
nzTooltipPlacement="top" (click)="cancel(item)">
</mb-button-action>
            <!-- <mb-button-action [action]="'delete'" className="last" nzTooltipTitle="{{'action.delete' | translate}}"
                              nzTooltipPlacement="top" (click)="delete(item.id)">
            </mb-button-action> -->
          </td>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
    <mb-pagination [pageIndex]="calendarSearchRequest.pageIndex" [pageSize]="calendarSearchRequest.pageSize" [total]="total"
                   (onChange)="onQuerySearch($event)">
    </mb-pagination>
  </div>
</div>
<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>
<mb-modal
  [title]="lockPopup.title"
  [content]="lockPopup.content"
  [interpolateParams]="lockPopup.interpolateParams"
  [okText]="lockPopup.okText"
  [btnCentered]="true"
  [callBack]="this.lockPopup.callBack"
  [isVisible]="isVisible"
  (emitter)="changStatus($event)"
>
</mb-modal>

