<div class="title mb-3">
  <mb-table-title [showBack]="true" [title]="'action.detail'"></mb-table-title>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-4">
    <nz-tabset
      [nzSelectedIndex]="tabIndex"
      (nzSelectedIndexChange)="onChangeTab($event)"
    >
      <nz-tab [nzTitle]="'' | translate">
        <ng-container
          [ngTemplateOutlet]="avatar"
          [ngTemplateOutletContext]="{}"
        >
        </ng-container>
      </nz-tab>
    </nz-tabset>
    <ng-template #avatar>
      <section class="section-custom">
        <div class="col-lg-12">
          <app-upload-image
            [customSizeImg]="false"
            [displayButton]="false"
            [imageUrl]="imageUrl"
            [alternateImageUrl]="avatarPlaceHolder"
            className="image"
            nzTooltipPlacement="top"
            nz-tooltip
          >
          </app-upload-image>
        </div>
      </section>
    </ng-template>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <nz-tabset
      [nzSelectedIndex]="tabIndex"
      (nzSelectedIndexChange)="onChangeTab($event)"
    >
      <nz-tab [nzTitle]="'common.general-info' | translate">
        <ng-container
          [ngTemplateOutlet]="informationEmployee"
          [ngTemplateOutletContext]="{}"
        >
        </ng-container>
      </nz-tab>
      <nz-tab [nzTitle]="'common.purchase-history' | translate">
        <ng-container
          [ngTemplateOutlet]="informationHistory"
          [ngTemplateOutletContext]="{}"
        >
        </ng-container>
      </nz-tab>
    </nz-tabset>
    <ng-template #informationEmployee>
      <section class="content">
        <div class="row mb-3">
          <div class="general-p hr col-8 info_wrapper_field">
            <div>
              <div class="row mb-1">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.fullName" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.fullName ? employee.fullName : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
              <div class="row mb-1 mt-3">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.dayOfBirth" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.dayOfBirth
                        ? (employee.dayOfBirth | date: "dd/MM/yyyy")
                        : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
              <div class="row mb-1 mt-3">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.phoneNumber" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.phoneNumber
                        ? employee.phoneNumber
                        : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
              <div class="row mb-1 mt-3">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.email" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.email
                        ? employee.email
                        : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
              <div class="row mb-1 mt-3">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.address" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.address
                        ? employee.address
                        : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
              <div class="row mb-1 mt-3">
                <div class="col-lg-5 info_wrapper_field_label">
                  <label>{{ "model.employee.gender" | translate }}</label>
                </div>
                <div class="col-lg-7 info_wrapper_field_label">
                  <span>
                    <p>
                      {{
                      employee.gender
                        ? employee.gender
                        : ("common.noInfo" | translate)
                      }}
                    </p>
                  </span>
                </div>
                <hr />
              </div>
            </div>
          </div>
          <div class="col-4 info_wrapper_field">
            <div
              style="margin-top: 8px"
              class="row text-center info_wrapper_field"
            >
              <qrcode
                class="{{ !!vCardData ? 'mt-2' : 'qr-no-content' }}"
                #complaintQrCode
                [qrdata]="vCardData || 'No content'"
                [width]="220"
                [margin]="0"
                [errorCorrectionLevel]="'M'"
              >
              </qrcode>
            </div>
            <div class="row text-center"></div>
          </div>
        </div>
        <!-- </div> -->
      </section>
    </ng-template>
    <!--history work infomation -->
    <ng-template #informationHistory>
      <section class="content mt-3">

      </section>
    </ng-template>
  </div>
</div>

<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>
