<div class="content">
  <div *nzModalTitle>
    <span>{{
      (action === ROUTER_ACTIONS.update
        ? "action.update"
        : action === ROUTER_ACTIONS.detail
        ? "action.detail"
        : "action.create"
      ) | translate
    }}</span>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.name" | translate }}
              <span class="text-danger">*</span></label
            >
            <input
              formControlName="name"
              nz-input
              [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
              placeholder="{{ 'model.product.name' | translate }}"
            />
            <ng-container
              *ngIf="form.get('name')?.touched || form.get('name')?.dirty"
            >
              <span
                class="text-danger"
                *ngIf="form.get('name')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.name'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.price" | translate }}
              <span class="text-danger">*</span></label
            >
            <input
              appCurrencyFormatter
              formControlName="price"
              nz-input
              [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
              placeholder="{{ 'model.product.price' | translate }}"
            />
            <ng-container
              *ngIf="form.get('price')?.touched || form.get('price')?.dirty"
            >
              <span
                class="text-danger"
                *ngIf="form.get('price')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.price'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.type" | translate }}
              <span class="text-danger">*</span></label
            >
            <nz-select
              nzShowSearch
              nzAllowClear
              appDebounceKeyUp
              maxlength="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
              formControlName="categories"
              nzMode="multiple"
              [nzMaxTagCount]="2"
              [nzPlaceHolder]="'model.product.type' | translate"
              (ngModelChange)="loadPropertyByCategory()"
            >
              <ng-container *ngFor="let type of categories">
                <nz-option
                  [nzValue]="type.id"
                  [nzLabel]="type.name"
                ></nz-option>
              </ng-container>
            </nz-select>

            <ng-container
              *ngIf="
                form.get('categories')?.touched || form.get('categories')?.dirty
              "
            >
              <span
                class="text-danger"
                *ngIf="form.get('categories')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.type'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.color" | translate }}
              <span class="text-danger">*</span></label
            >
            <input
              formControlName="color"
              nz-input
              [maxLength]="LENGTH_VALIDATOR.COLOR_MAX_LENGTH.MAX"
              placeholder="{{ 'model.product.color' | translate }}"
            />
            <ng-container
              *ngIf="form.get('color')?.touched || form.get('color')?.dirty"
            >
              <span
                class="text-danger"
                *ngIf="form.get('color')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.color'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.material" | translate }}
              <span class="text-danger">*</span></label
            >
            <input
              formControlName="material"
              nz-input
              [maxLength]="LENGTH_VALIDATOR.MATERIAL_MAX_LENGTH.MAX"
              placeholder="{{ 'model.product.material' | translate }}"
            />
            <ng-container
              *ngIf="
                form.get('material')?.touched || form.get('material')?.dirty
              "
            >
              <span
                class="text-danger"
                *ngIf="form.get('material')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.material'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.weight" | translate }}
              <span class="text-danger">*</span></label
            >
            <input
              formControlName="weight"
              nz-input
              placeholder="{{ 'model.product.weight' | translate }}"
            />
            <ng-container
              *ngIf="form.get('weight')?.touched || form.get('weight')?.dirty"
            >
              <span
                class="text-danger"
                *ngIf="form.get('weight')?.hasError('required')"
              >
                <mb-not-blank [value]="'model.product.weight'"></mb-not-blank>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-2">
            <label
              >{{ "model.product.dimensions" | translate
              }}<span class="text-danger">*</span></label
            >
            <input
              formControlName="dimensions"
              nz-input
              [maxLength]="LENGTH_VALIDATOR.DIMENSION_MAX_LENGTH.MAX"
              placeholder="{{ 'model.product.dimensions' | translate }}"
            />
            <ng-container
              *ngIf="
                form.get('dimensions')?.touched || form.get('dimensions')?.dirty
              "
            >
              <span
                class="text-danger"
                *ngIf="form.get('dimensions')?.hasError('required')"
              >
                <mb-not-blank
                  [value]="'model.product.dimensions'"
                ></mb-not-blank>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <input type="file" (change)="showImage($event)">
          <div
            class="col-6 mb-2"
            *ngFor="let item of properties.controls; let i = index"
          >
            <div>
              <label>{{ item.value.propertyName }} </label>
              <input
                nz-input
                [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                placeholder="{{ item.value.propertyName }}"
                value="{{ item.value.propertyValue }}"
                (change)="setValue(i, item.value.propertyName, $event)"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-6 mb-2"
            *ngFor="let item of properties.controls; let i = index"
          >
            <div>
              <label>{{ item.value.propertyName }} </label>
              <input
                nz-input
                [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                placeholder="{{ item.value.propertyName }}"
                value="{{ item.value.propertyValue }}"
                (change)="setValue(i, item.value.propertyName, $event)"
              />
            </div>
          </div>
        </div>

     
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <button nz-button nzType="default" class="e-2" (click)="onCancel()">
        {{
          (action === ROUTER_ACTIONS.detail ? "action.back" : "action.cancel")
            | translate
        }}
      </button>
      <button
        *ngIf="action !== ROUTER_ACTIONS.detail"
        nz-button
        nzType="primary"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        {{
          (action === ROUTER_ACTIONS.update ? "action.update" : "action.create")
            | translate
        }}
      </button>
    </div>
  </div>
</div>
