<mb-table-title
      [showBack]="true"
      title="{{'Cập nhật hóa đơn chờ'
      }}"
    >
    </mb-table-title>
<div
      *ngIf="action === ROUTER_ACTIONS.detail"
      class="col-6 mb-2"
      class="row mt-3"
    >
      <div class="col-12">
        <section class="content mt-3">
          <div>
            <label>{{ "model.order.publish" | translate }}</label>
            <div class="ms-1">
              <!-- <nz-switch [(ngModel)]="status" (click)="onPublishChange()" [nzControl]="true" [nzLoading]="statusIsLoading">
              </nz-switch> -->
              <nz-switch
                [(ngModel)]="status"
                [nzControl]="true"
                [nzLoading]="statusIsLoading"
              >
              </nz-switch>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <form [formGroup]="form">
          <section class="content mt-3">
            <div class="row">
              <div class="col-7 mb-2">
                <label
                  >{{ "model.order.customer" | translate }}
                  <span class="text-danger">*</span></label
                >
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="{{ 'model.order.customerSelect' | translate }}"
                  formControlName="userId"
                  (ngModelChange)="showCustomer()"
                  
                >
                  <nz-option
                    *ngFor="let customer of users"
                    [nzValue]="customer.userId"
                    [nzLabel]="customer.fullName + ' - ' + customer.phoneNumber"
                  >
                  </nz-option>
                </nz-select>
                <ng-container
                  *ngIf="
                    form.get('userId')?.touched || form.get('userId')?.dirty
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="form.get('userId')?.hasError('userId')"
                  >
                    <mb-not-blank
                      [value]="'model.product.userId'"
                    ></mb-not-blank>
                  </span>
                </ng-container>
              </div>

              <div class="col-3 mb-2">
                <button
                  nz-button
                  nzType="text"
                  class="mt-4"
                  nzPrimary
                  (click)="createCustomer()"
                >
                  {{ "action.createCustomer" | translate }}
                </button>
              </div>
            </div>
            <div class="row mt-2" *ngIf="this.form.value.userId">
              <div class="col-4 mb-2">
                <label>{{ "model.user.fullName" | translate }} </label>
                <input
                  appCurrencyFormatter
                  nz-input
                  [maxLength]="LENGTH_VALIDATOR.LABEL_MAX_LENGTH.MAX"
                  [value]="this.currentUser.fullName"
                  readonly
                />
              </div>
              <div class="col-4 mb-2">
                <label>{{ "model.user.phoneNumber" | translate }}</label>
                <div>
                  <input
                    appCurrencyFormatter
                    nz-input
                    [maxLength]="LENGTH_VALIDATOR.LABEL_MAX_LENGTH.MAX"
                    [value]="this.currentUser.phoneNumber"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4 mb-2">
                <label>{{ "model.user.email" | translate }} </label>
                <input
                  nz-input
                  [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                  placeholder="{{ 'model.order.staff' | translate }}"
                  [value]="this.currentUser.email"
                  readonly
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-4 mb-2">
                <label
                  >{{ "model.order.payMethod" | translate }}
                  <span class="text-danger">*</span></label
                >
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="{{ 'model.order.payMethod' | translate }}"
                  formControlName="paymentMethod"
                  
                >
                  <nz-option
                    *ngFor="let method of PAYMENT_METHOD"
                    [nzValue]="method.value"
                    [nzLabel]="method.label | translate"
                  >
                  </nz-option>
                </nz-select>
                <ng-container
                *ngIf="
                  form.get('paymentMethod')?.touched || form.get('paymentMethod')?.dirty
                "
              >
                <span
                  class="text-danger"
                  *ngIf="form.get('paymentMethod')?.hasError('paymentMethod')"
                >
                  <mb-not-blank
                    [value]="'model.product.paymentMethod'"
                  ></mb-not-blank>
                </span>
              </ng-container>
              </div>
              <div class="col-4 mb-2">
                <label>{{ "model.order.date" | translate }}</label>
                <div class="date-picker">
                  <nz-date-picker
                    [nzId]="'startDatePicker'"
                    [nzFormat]="'dd/MM/yyyy'"
                    nzPlaceHolder="DD/MM/YYYY"
                    [nzInputReadOnly]="true"
                    formControlName="date"
                  >
                  </nz-date-picker>
                </div>
              </div>
              <div class="col-4 mb-2">
                <label>{{ "model.order.staff" | translate }} </label>
                <input
                  nz-input
                  disabled="disabled"
                  [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                  placeholder="{{ 'model.order.staff' | translate }}"
                  formControlName="staff"
                />
              </div>
              <div class="col-4 ">
                <label>{{ "model.product.event" | translate }} </label>
                <nz-select
                  formControlName="eventId"
                  nzAllowClear 
                  [nzPlaceHolder]="'model.product.event' | translate"
                  (ngModelChange)="getTotal($event)"
                  
                >
                  <ng-container *ngFor="let event of events">
                    <nz-option
                      [nzValue]="event.eventId"
                      [nzLabel]="event.name + ' - ' + 'Giảm ' + event.discount + '%'"
                    ></nz-option>
                  </ng-container>
                </nz-select>
                <ng-container
                  *ngIf="form.get('eventId')?.touched || form.get('eventId')?.dirty"
                >
                  <span
                    class="text-danger"
                    *ngIf="form.get('eventId')?.hasError('required')"
                  >
                    <mb-not-blank [value]="'model.product.event'"></mb-not-blank>
                  </span>
                </ng-container>
              </div>
              <div class="col-4 mb-2">
                <label>{{ "model.order.status.root" | translate }} </label>
                <nz-select
                formControlName="status"
                [nzPlaceHolder]="'model.product.status.root' | translate"
    
              >
                <ng-container *ngFor="let item of ORDER_STATUS">
                  <nz-option
                    [nzValue]="item.value"
                    [nzLabel]="item.label | translate"
                  ></nz-option>
                </ng-container>
              </nz-select>
               
              </div>
            </div>
          </section>
          
        </form>
        <section class="content">
        
          <div class="row">
            <div class="col-8">
              <div class="example-input">
                <input nz-input [value]="value" (input)="fiter($event)" [nzAutocomplete]="auto" placeholder="Tìm kiếm sản phẩm">
<nz-autocomplete #auto  (selectionChange)="getChange($event)">
  <nz-auto-option *ngFor="let item of productOrderFilter" [nzValue]="item.id">
    <img class="img-fluid" [src]="getImage(item.imageUrl[0])" [width]="100" [height]="50" alt=""> {{item.nameProduct + ' - size ' + item.size + ' - số lượng ' + item.quantity}}
  </nz-auto-option>
</nz-autocomplete>  </div>
<label for="" class="mt-3">Danh sách sản phẩm đã chọn</label>
              <nz-table
              #table [nzData]="this.selectedProducts" [nzNoResult]="this.selectedProducts"  [nzScroll]="{ y: '440px' }"
                  >
                    <thead>
                      <tr>
                        <th nzAlign="center">{{'common.index' | translate}}</th>
                        <th>{{ "model.product.image" | translate }}</th>
                        <th>{{ "model.product.name" | translate }}</th>
                        <th>{{ "model.product.sizeId" | translate }}</th>
                        <th>{{ "model.product.price" | translate }}</th>
                        <th>{{ "model.order.productQuantity" | translate }}</th>
                        <th>{{ "model.order.quantityBy" | translate }}</th>
                        <th>{{ "model.order.thanhtien" | translate }}</th>
                        <th>{{"common.active" | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of selectedProducts; let i = index">
                       <td nzAlign="center">{{i+1}}</td>
                        <td nzAlign="center">
                          <img
                            nz-image
                            height="90px"
                            width="120px"
                            id="productDetailLink"
                            (click)="showProductDetail(product)"
                            [nzSrc]="getImage(product.imageUrl[0])"
                            style="border: 2px; border-radius: 5px"
                          />
                        </td>
                        <td>{{ product.nameProduct }}</td>
                        <td nzAlign="center">
                          <nz-tag nzColor="default">{{
                            product.size
                          }}</nz-tag>
                        </td>
                        <td>{{ product.price | vnd }}</td>
                        <td nzAlign="center">
                          {{ product.quantity }} sản phẩm
                        </td>
                        <td>
                          <nz-input-number  [(ngModel)]="product.quantityBy" (input)="changePrice()" (click)="changePrice()" [nzMin]="1" [nzMax]="product.quantity" [nzStep]="1"></nz-input-number>
                        </td>
                        <td>{{ (product.price * product.quantityBy) | vnd }}</td>
                        <td>  <mb-button-action
                            [action]="'delete'"
                            [className]="'last'"
                            nzTooltipTitle="{{ 'action.delete' | translate }}"
                            nzTooltipPlacement="top"
                            nz-tooltip
                            (click)="delete(product,i)"
                          >
                          </mb-button-action></td>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
            <div class="col-4" style="font-size: 15px;">
             
              <nz-card nzAlign="center" nzTitle="Bảng giá hóa đơn" [nzExtra]="extraTemplate" >
                <label class="mb-3" style="width:'13rem'">Số lượng sản phẩm:</label> <span class="fw-bold">{{this.selectedProducts ? this.selectedProducts.length : 0 }} sản phẩm</span>
                <br>
                <label class="mb-3" style="width:'13rem'">Tổng tiền: </label> <span class="fw-bold">{{this.total | vnd}}</span> 
                <br> 
                <label  class="mb-1" style="width:'13rem'">Giảm giá:</label> <span class="fw-bold">{{this.discount + '%'}}</span>
                <hr>
                <label class="fw-bold" style="width:'13rem'">Thành tiền :</label><span class="fw-bold">{{this.thanhtien | vnd}}</span>
              </nz-card>
            </div>

          </div>
          
        </section>
       
       
      </div>
    </div>
    <section class="content">
      <div class="row">
        <div class="col-12 text-center">
          <button nz-button nzType="default" (click)="onCancel()">
            {{
              (action === ROUTER_ACTIONS.detail
                ? "action.back"
                : "action.cancel"
              ) | translate
            }}
          </button>
          <button
            *ngIf="action === ROUTER_ACTIONS.detail"
            (click)="navigateToUpdatePage()"
            class="ms-3"
            nz-button
            nzType="primary"
          >
            {{ "action.update" | translate }}
          </button>
          <button
            *ngIf="action !== ROUTER_ACTIONS.detail"
            (click)="
              this.create();
            "
            class="ms-3"
            nz-button
            nzType="primary"
            [disabled]="this.form.invalid"
          >
            {{
              (action === ROUTER_ACTIONS.update
                ? "action.update"
                : "action.create"
              ) | translate
            }}
          </button>
        </div>
      </div>
    </section>