<div class="content">
  <div *nzModalTitle>
  
    <span>Chi tiết sản phẩm cần gia công</span>
  </div>
 
    <div class="row">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.name" | translate }}</strong>: {{this.product?.product?.nameProduct}}
              </label>
          </div> 
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.code" | translate }}</strong>: {{this.product?.product?.code}}
              </label>
          </div> 
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.sizeId" | translate }}</strong>: {{this.product?.size.size}}
              </label>
          </div> 
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.gender" | translate }}</strong>: {{this.product?.product.gender === 'MALE' ? 'Nam' : 'Nữ' }}
              </label>
          </div> 
        
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.material" | translate }}</strong>: {{this.product?.product.material.materialName}}
              </label>
          </div> 
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.createdAt" | translate }}</strong>: {{this.product?.createAt | date:'dd-MM-yyyy'}}
              </label>
          </div> 
          <div class="col-6 mb-2">
            <label
              ><strong>{{ "model.product.category" | translate }}</strong>: {{this.product?.product.category.name}}
              </label>
          </div> 
          <div class="col-6">
            <label
              ><strong>{{ "model.product.accessoryId" | translate }}</strong>: {{this.product?.product.accessory.name}}
              </label>
          </div> 
          <div class="col-6 mb-2" *ngFor="let item of this.product?.product.productProperties">
            <label
              ><strong>{{ item.name }}</strong>: {{item.value}}
              </label>
          </div> 
          <div class="col-12 mb-2">
            <label
              ><strong>{{ "model.product.note" | translate }}</strong>: <p [innerHTML]="this.product.note"></p>
              </label>
          </div>      
     </div>
      </form>
    </div>
  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <button nz-button nzType="default" class="e-2" (click)="onCancel()">
        {{
          "action.back"
            | translate
        }}
      </button>
    </div>
  </div>
</div>
