<div class="content">
  <mb-table-title [title]="'model.guest.list'"></mb-table-title>
  <!-- filter element -->
  <nz-table class="content mt-3">
    <div [formGroup]="form" class="filter-element">
      <div class="row p-4">
        <div class="col-3">
          <label>{{ "common.keyword" | translate }}</label>
          <input type="text" nz-input formControlName="keyword" [placeholder]="'model.user.searchTitle' | translate"
                 (keyup.enter)="this.search()"/>
        </div>
        <div class="col-3">
          <label>{{ 'model.user.status' | translate }}</label>
          <br>
          <nz-select formControlName="status" nzAllowClear removeOptionTitle
                     nzPlaceHolder="{{ 'model.user.service.selectStatus' | translate }}">
            <nz-option *ngFor="let service of userStatus" [nzLabel]="service.label | translate"
                       [nzValue]="service.value" [nzCustomContent]="true">
              <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                   [ngbTooltip]="(service?.label!) | translate">{{(service?.label!) | translate}}</div>
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row mt-3 mb-3 text-center">
        <div class="col-12">
          <button class="me-3" nz-button nzType="default" (click)="resetSearch()">
            {{ "action.reset" | translate }}
          </button>
          <button nz-button nzType="primary" (click)="search()">
            {{ "common.search" | translate }}
          </button>
        </div>
      </div>
    </div>
  </nz-table>
  <div class="row mt-3">
    <div class="col-12 text-end" *hasRoles="['survey:update']">
      <mb-button [type]="'primary'" class="me-3" [icon]="'plus'" [text]="'action.create'" *hasRoles="['user:create']"
                 (click)="create(userProfileLdap)">
      </mb-button>
      <!-- <mb-button [type]="'primary'" [icon]="'plus'" [text]="'action.import'" *hasRoles="['user:create']"
                 (click)="import()">
      </mb-button> -->
    </div>
  </div>
  <!--end filter element -->
  <div class="row mt-3">
    <div class="col-12">
      <nz-table
        #table
        [nzData]="users"
        [nzNoResult]="noDataResult"
        [nzTableLayout]="'auto'"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
        <tr>
          <th nzAlign="center">{{ "common.index" | translate }}</th>
          <th nzAlign="center" nzColumnKey="fullName" [nzSortFn]="true">
            {{ "model.user.fullName" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="userName" [nzSortFn]="true">
            {{ "model.user.username" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="role" [nzSortFn]="true">
            {{ "model.user.role" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="phoneNumber" [nzSortFn]="true">
            {{ "model.user.phoneNumber" | translate }}</th>
          <th nzAlign="center" nzColumnKey="email" [nzSortFn]="true">
            {{ "model.user.email" | translate }}
          </th>
          <th nzAlign="center" nzColumnKey="status" [nzSortFn]="true">
            {{ "common.status" | translate }}
          </th>
          <th
            nzAlign="center"
            [nzWidth]="'180px'"
            *hasRoles="['user:update']"
          >
            {{ "action.msg" | translate }}
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of users; let i = index">
          <tr>
            <td nzAlign="center">{{ getIndex(i) }}</td>
            <td
              nzAlign="left"
              [nzTooltipTitle]="item.fullName"
              nzTooltipPlacement="top"
              nz-tooltip
            >
              {{ getLimitLength(item.fullName!) }}
            </td>
            <td nzAlign="left">{{ item.userName }}</td>
            <td nzAlign="left">Khách hàng</td>
            <td nzAlign="center">{{ item.phoneNumber }}</td>
            <td
              nzAlign="left"
              [nzTooltipTitle]="item.email"
              nzTooltipPlacement="top"
              nz-tooltip
            >
              {{ item.email }}
            </td>
            <td nzAlign="center">
              <mb-badge
                [color]="
                    item.status 
                      ? 'badge-danger'
                      : 'badge-info'
                  "
                [text]="item.status ? 'Không hoạt động' : 'Hoạt động'"
              >
              </mb-badge>
            </td>
            <td nzAlign="center">
              <!--<i class="icon icon-edit"-->
              <!--(click)="update(item)"-->
              <!--nz-icon nzType="edit"-->
              <!--nzTheme="fill"-->
              <!--nzTooltipTitle="{{'action.update' | translate}}"-->
              <!--nzTooltipPlacement="top"-->
              <!--nz-tooltip></i>-->
              <mb-button-action
                [action]="'edit'"
                className="first"
                nzTooltipTitle="{{ 'action.update' | translate }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="update(item)"
              >
              </mb-button-action>
              <mb-button-action
                [action]="item.status === false ? 'lock' : 'unlock'"
                className="{{
                    item.authenticationType === USER_INTERNAL
                      ? 'center'
                      : 'last'
                  }}"
                nzTooltipTitle="{{
                    (item.status === userActive
                      ? 'action.lock'
                      : 'action.unlock'
                    ) | translate
                  }}"
                nzTooltipPlacement="top"
                nz-tooltip
                (click)="lock(item)"
              >
              </mb-button-action>
              <ng-container *ngIf="item.authenticationType === USER_INTERNAL">
                <mb-button-action
                  [action]="'key'"
                  className="last"
                  (click)="openChangePassword(item)"
                  nzTooltipTitle="{{
                      'model.user.changePassword' | translate
                    }}"
                  nzTooltipPlacement="top"
                  nz-tooltip
                >
                </mb-button-action>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
      <mb-pagination
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [total]="total"
        (onChange)="onQuerySearch($event)"
      >
      </mb-pagination>
    </div>
  </div>
</div>

<mb-modal
[title]="lockPopup.title"
[content]="lockPopup.content"
[interpolateParams]="lockPopup.interpolateParams"
[okText]="lockPopup.okText"
[btnCentered]="true"
[callBack]="this.lockPopup.callBack"
[isVisible]="isVisible"
  (emitter)="onLockAndUnLock($event)"
>
</mb-modal>

<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>
